* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
html {
  scroll-behavior: smooth;
}

.go-to-up {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ecb365;
  border-radius: 25px;
  transform: translateX(200%);
  transition: 0.3s;
  z-index: 3;
}
.go-to-up a {
  color: #fff;
}
.show-link {
  transform: translateX(0);
}
.flip {
  transform: scaleY(-1);
}

header {
  background-image: url('assets/profile-nomask.JPG');
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 20px 40px;
  transition: all 0.3s ease;
  z-index: 2;
}
.fixed {
  background-color: #04293a;
}
.navbar-center {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header-title {
  display: flex;
  gap: 25px;
}
.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 100%;
}
.section-center {
  gap: 15px;
}
.social-center {
  width: 100px;
}
@media (min-width: 950px) {
  .social-center {
    width: 150px;
  }
}
.section-center,
.social-center,
.section-footer,
.social-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title a {
  font-size: 30px;
}
.section-center li a,
.section-footer li a {
  text-transform: capitalize;
}
.section-center li a,
.social-center li a,
.social-footer li a {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.header-title a,
.social-center li a,
.section-center li a,
.section-footer li a,
.social-footer li a {
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.header-title a::after,
.section-center li a::after,
.section-footer li a::after,
.services-container .row::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1.5px solid #fff;
  transform: scaleX(0);
  transition: 0.3s;
}
.header-title a:hover::after,
.section-center li a:hover::after,
.section-footer li a:hover::after,
.services-container .row:hover::after {
  transform: scaleX(0.5);
}
.navToggle {
  display: none;
  background-color: transparent;
  color: #fff;
  font-size: 40px;
  border: none;
  transition: all 0.3s ease;
}

.social-center li a svg {
  transition: all 0.3s ease;
}
.social-center li a svg:hover,
.social-footer li a svg:hover {
  transform: scale(1.5);
}

.jumbotron {
  display: flex;
  align-items: center;
  height: 100vh;
}
.jumbotron-content {
  margin: 0 0 0 80px;
}
.jumbotron-content .text1,
.jumbotron-content .text2,
.jumbotron-content .text3,
.jumbotron-content .text4 {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #fff;
}
.jumbotron-content .text1 {
  font-size: 50px;
}
.jumbotron-content .text2 {
  font-size: 55px;
}
.jumbotron-content .text2 a,
footer span a {
  position: relative;
  color: #ecb365;
}
.jumbotron-content .text2 a::after,
footer span a::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1.5px solid #ecb365;
  transform: scaleX(0);
  transition: 0.3s;
}
.jumbotron-content .text2 a:hover::after,
footer span a:hover::after {
  transform: scaleX(1);
}
.jumbotron-content .text3 {
  font-size: 45px;
}
.jumbotron-content .text4 {
  font-size: 16px;
  margin: 20px 0;
}
.jumbotron-content .text4 span {
  font-size: 20px;
}
.btn {
  display: inline-block;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  padding: 15px 25px;
  margin: 15px 0 0 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about,
.service,
.skills,
.contact {
  min-height: 600px;
  padding: 80px 0;
}
.about .title,
.service .title,
.skills .title,
.contact .title {
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  font-size: 30px;
  margin: 0 0 100px 0;
}
.about .title h1,
.skills .title h1,
.service .title h1,
.contact .title h1 {
  color: #064663;
  margin: 0 0 0 20px;
}
.about .title .underline-contain,
.skills .title .underline-contain,
.service .title .underline-contain,
.contact .title .underline-contain {
  position: relative;
  display: flex;
  align-items: center;
}
.about .title .underline-contain .underline,
.skills .title .underline-contain .underline,
.service .title .underline-contain .underline,
.contact .title .underline-contain .underline {
  width: 400px;
  height: 3px;
  background-color: #000;
}
.about .title .underline-contain .circle,
.skills .title .underline-contain .circle,
.service .title .underline-contain .circle,
.contact .title .underline-contain .circle {
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 15px;
}
.about-center,
.service-center,
.skill-center {
  display: flex;
  justify-content: center;
}
.about-content,
.skill-content,
.contact-content,
.service-content {
  width: 90%;
  font-family: 'Poppins', sans-serif;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.desc {
  font-size: 16px;
  text-align: justify;
}
.desc-about {
  order: 1;
  width: 60%;
  text-indent: 10%;
  line-height: 1.5;
}
.intro-2 {
  margin: 10px 0 30px 0;
}
.intro-2 .YCM {
  color: #ecb365;
}
.intro-2 .YCM:hover {
  color: #d65050;
  text-decoration: underline;
}
.cv-btn {
  display: inline;
}
.my-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding: 5px;
  border: 2px solid #ecb365;
  border-radius: 5px;
}

.skills {
  background-image: url('assets/light-bulb-2.jpg');
  background-size: cover;
  background-position: center;
}
.skills .title h1,
.contact .title h1 {
  text-align: end;
  margin: 0 20px 0 0;
}
.skills .title h1,
.contact .title h1 {
  color: #66c9f7;
}
.skills .title .underline-contain,
.contact .title .underline-contain {
  justify-content: flex-end;
}
.skills .title .underline-contain .underline,
.contact .title .underline-contain .underline {
  background-color: #fff;
}
.skills .title .underline-contain .circle,
.contact .title .underline-contain .circle {
  border: 2px solid #fff;
}
.skill-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  align-items: start;
  gap: 20px;
  font-family: 'Poppins', sans-serif;
}
.skill-exp {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 16px;
  overflow-y: hidden;
}
.h-skill {
  display: inline;
  background-color: #04293a;
  color: #fff;
  padding: 0 5px;
}
.description {
  margin: 10px 0 0 0;
  overflow: hidden;
}
.desc-skill {
  display: block;
}
.simple {
  transition: 0.3s;
  overflow: hidden;
}
.details {
  height: 0;
  transition: 0.3s;
  overflow: hidden;
}
.desc-detail-2 {
  margin: 10px 0 0 0;
}
.detail .dicoding,
.detail .idCamp {
  color: #ecb365;
  transition: all 0.3s ease;
}
.detail .dicoding:hover {
  color: #3d3d3d;
}
.detail .idCamp:hover {
  color: red;
}
.explore-btn,
.cv-btn,
.desc-btn,
.submit-btn {
  background-color: transparent;
  color: #ecb365;
  border: 2px solid #ecb365;
}
.explore-btn:hover,
.cv-btn:hover,
.desc-btn:hover,
.submit-btn:hover {
  background-color: #ecb365;
  color: #fff;
}
.skills-graph {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(4, 28, 50, 0.8);
  font-family: 'Roboto', sans-serif;
  padding: 6px 12px 10px;
}
.graph {
  overflow: hidden;
  transition: all 0.3s ease;
}
.header-graph {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #fff;
  margin: 5px 0 0 5px;
}
.graph-name {
  display: flex;
  align-items: center;
  gap: 5px;
}
.graph-name a {
  color: #fff;
}
.graph-name a:nth-child(1):hover,
.graph-name abbr:hover {
  text-decoration: underline;
  cursor: pointer;
}
.skillToggle {
  transition: all 0.3s ease;
}
.line {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #ddd;
  margin: 5px 0 0 0;
  border-radius: 5px;
}
.line.html:before,
.line.css:before,
.line.javascript:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}
.line.html:before {
  width: 95%;
  background-color: #ffea20;
}
.line.css:before {
  width: 90%;
  background-color: rgb(215, 40, 40);
}
.line.javascript:before {
  width: 80%;
  background-color: green;
}
.skill-dropdown {
  height: 0;
  transition: all 0.3s ease;
}
.desc-graph {
  background-color: #fff;
  color: #04293a;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  margin: 10px 0 0 0;
}
.desc-graph abbr {
  color: #ecb365;
}

.h-service {
  color: #064663;
  font-size: 25px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 0 0 20px 0;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
.services-container .row {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 0 0 25px 0;
}
.services-container .row::after {
  border-bottom: 3px solid #ecb365;
}
.services-container .row img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
  padding: 5px;
  border: 2px solid #ecb365;
  border-radius: 5px;
}
.services-container .row .name {
  color: #064663;
}
.desc-service {
  width: 90%;
  font-family: 'Roboto', sans-serif;
}

.contact {
  background-image: url('assets/light-bulb.jpg');
  background-size: cover;
  background-position: center;
}
.contact-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 0 auto;
  gap: 15px;
}
.my-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media (min-width: 906px) {
  .my-info {
    flex-direction: column;
    gap: 0px;
  }
}
.h-contact,
.h-form,
.desc-contact,
.info {
  color: #fff;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
}
.desc-contact {
  margin: 5px 0 20px 0;
}
.desc-contact a {
  color: #ecb365;
}
.icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.icons .row {
  display: flex;
  align-items: center;
  gap: 20px;
}
.row svg {
  width: 30px;
  height: 30px;
  color: #ecb365;
}
.info {
  display: flex;
  flex-direction: column;
}
.icons .row:nth-child(1) .subtitle,
.icons .row:nth-child(3) .subtitle {
  text-transform: capitalize;
}
form.form {
  display: flex;
  flex-direction: column;
}
.input-box {
  margin: 10px 0;
}
.input-box input {
  width: 100%;
  background-color: rgba(4, 28, 50, 0.8);
  color: #fff;
  padding: 15px;
  border: none;
  border-bottom: 2px solid #ecb365;
  outline: none;
}
.input-box input::placeholder {
  color: #fff;
}
.actions {
  display: grid;
  grid-template-columns: 88% 10%;
  justify-content: space-between;
}
.submit-btn,
.refresh-btn {
  text-transform: capitalize;
  padding: 10px 0;
}
.refresh-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #cfff8d;
  border: 2px solid #cfff8d;
}
.refresh-btn:hover {
  background-color: #cfff8d;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
  color: #fff;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: #04293a;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 20px 0;
}
.footer-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.section-footer,
.social-footer {
  width: fit-content;
  gap: 15px;
}
.social-footer li a svg {
  transition: all 0.3s ease;
}

/* Breakpoints */
@media (min-width: 1440px) {
  .my-img {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 1000px) {
  .profile {
    flex-direction: column;
    gap: 20px;
  }
  .desc-about {
    max-width: 90%;
    width: 600px;
  }
  .services-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media (max-width: 950px) {
  header {
    background-position: center;
  }
  .navbar {
    padding: 20px 30px;
  }
  .section-center li a {
    font-size: 16px;
  }
  .jumbotron-content {
    margin: 0 0 0 30px;
  }
  .jumbotron-content .text1 {
    font-size: 40px;
  }
  .jumbotron-content .text2 {
    font-size: 45px;
  }
  .jumbotron-content .text3 {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .jumbotron-content .text1 {
    font-size: 30px;
  }
  .jumbotron-content .text2 {
    font-size: 35px;
  }
  .jumbotron-content .text3 {
    font-size: 25px;
  }
  .about .title,
  .service .title,
  .skills .title,
  .contact .title {
    font-size: 25px;
    margin: 0 0 50px 0;
  }
  .about-content {
    flex-direction: column;
  }
  .about .title .underline-contain .underline,
  .skills .title .underline-contain .underline,
  .contact .title .underline-contain .underline {
    width: 225px;
  }
  .my-img {
    width: 300px;
    height: 250px;
  }
}
@media (max-width: 678px) {
  .navbar {
    padding: 10px 20px;
  }
  .navbar-center {
    flex-direction: column;
    gap: 0px;
    overflow-y: hidden;
  }
  .header-title {
    justify-content: space-between;
    min-width: 50vw;
  }
  .navToggle {
    display: block;
  }
  .toggle-container {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: fit-content;
    height: 0;
    transition: all 0.3s ease;
  }
  .section-center {
    width: fit-content;
    padding: 10px 0 8px 0;
  }
  .btn {
    font-size: 16px;
    padding: 10px 20px;
  }
  .desc-about {
    font-size: 14px;
  }
  .h-skill,
  .h-contact,
  .h-form {
    font-size: 20px;
  }
  .desc {
    font-size: 14px;
  }
  .header-graph {
    font-size: 16px;
  }

  .contact-content {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .info {
    font-size: 14px;
  }
  .input-box input {
    padding: 12px;
  }
  .submit-btn,
  .refresh-btn {
    font-size: 14px;
    padding: 8px;
  }
}
@media (max-width: 578px) {
  .go-to-up {
    bottom: 55px;
  }
  .my-info {
    flex-direction: column;
    gap: 0px;
  }
  .skill-content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media (max-width: 450px) {
  .go-to-up {
    width: 40px;
    height: 40px;
  }
  .about .title h1,
  .service .title h1 {
    margin: 0 0 0 15px;
  }
  .skills .title h1,
  .contact .title h1 {
    margin: 0 15px 0 0;
  }
  .service .title .underline-contain .underline {
    width: 350px;
  }
  .contact-content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .services-container .row img {
    width: 250px;
    height: 250px;
  }
  .actions {
    grid-template-columns: 83% 15%;
  }
}
